---
dist: trusty
sudo: required

services:
  - docker

language: python
python:
  - "3.6"

before_install:
  - deactivate
  - sudo -H pip install ansible=="2.5.4" docker-py

before_script:
  - cd tests/travis

script:
  - if [ -f requirements.yml ]; then "ansible-galaxy install -r requirements.yml"; fi
  - ansible-playbook test.yml --syntax-check
  - ansible-playbook test.yml
  - ansible-playbook test.yml | grep -q 'changed=0.*failed=0' && (echo 'Idempotence test pass' && exit 0) || (echo 'Idempotence test fail' && exit 1)

notifications:
  webhooks: 
    - https://galaxy.ansible.com/api/v1/notifications/